{% extends 'base.html.twig' %}

{% block title %}Edit LoyaltyCard{% endblock %}

{% block body %}
    <h1>Edit LoyaltyCard</h1>

    {{ include('admin/loyalty_card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_loyalty_card_index') }}">back to list</a>

    {{ include('admin/loyalty_card/_delete_form.html.twig') }}
{% endblock %}
