{% extends 'header.html.twig' %}

{% block body %}
<body>
    <div class="container">
    <br>
        <h1>Termes et Conditions</h1>
        <p>
            Bienvenue sur notre site web. Si vous continuez à naviguer et à utiliser ce site web, vous acceptez de vous conformer et d'être lié par les termes et conditions d'utilisation suivants, qui, avec notre politique de confidentialité, régissent la relation de VitalityMark avec vous en relation avec ce site web. Si vous êtes en désaccord avec une partie quelconque de ces termes et conditions, veuillez ne pas utiliser notre site web.
        </p>
        
        <h2>Utilisation du Site</h2>
        <p>
            Le contenu des pages de ce site web est pour votre information générale et utilisation uniquement. Il est sujet à changement sans préavis.
        </p>

        <h2>Confidentialité</h2>
        <p>
            VitalityMark s'engage à assurer que votre vie privée est protégée. Si nous vous demandons de fournir certaines informations par lesquelles vous pouvez être identifié lors de l'utilisation de ce site web, vous pouvez être assuré qu'elles seront uniquement utilisées conformément à cette déclaration de confidentialité.
        </p>

        <h2>Liens vers d'autres sites web</h2>
        <p>
            Notre site web peut contenir des liens vers d'autres sites web d'intérêt. Cependant, une fois que vous avez utilisé ces liens pour quitter notre site, vous devez noter que nous n'avons aucun contrôle sur cet autre site web. Par conséquent, nous ne pouvons pas être responsables de la protection et de la confidentialité des informations que vous fournissez en visitant ces sites, et ces sites ne sont pas régis par cette déclaration de confidentialité.
        </p>

        <h2>Votre consentement</h2>
        <p>
            En utilisant notre site, vous consentez à notre politique de confidentialité.
        </p>

        <h2>Contactez-nous</h2>
        <p>
            Si vous avez des questions concernant ces termes et conditions, veuillez nous contacter à serviceclient@vitalitymark.fr.
        </p>
    </div>
</body>
{% endblock %}
