{% extends 'header.html.twig' %}

{% block body %}
<br><br><br>
<div class="container">
<h2>Mentions légales</h2>

<div class="legal-info">
    <p>
        Conformément aux dispositions de l’article 6-I 1° de la loi n°2004-575 du 21 juin 2004 relative à la confiance dans l’économie numérique, l’éditeur du site web www.vitalitymark.fr est :
    </p>

    <p>
        David, développeur indépendant et unique responsable du site. À ce jour, aucune société n'a encore été créée. Dès que le financement sera obtenu et le site terminé, il sera hébergé en ligne.
    </p>

    <p>
        Numéro de téléphone : 07 81 73 88 18
    </p>

    <p>
        Adresse électronique : davidli4532@gmail.com
    </p>

    <p>
        Le stockage du site www.vitalitymark.fr est effectué localement pour le moment, aucune société prestataire n'est engagée à cet effet.
    </p>
</div>
<br>

</div>
{% endblock %}
